[Desktop Entry]
Version=1.0
Type=Application
Name=bluethooth
Comment=
Exec=sudo service bluetooth restart 
Icon=
Path=
Terminal=true
StartupNotify=false
